version: "2.1"

volumes:
  motor-data:

services:
  motor-control:
    build: ./motor-control
    privileged: true
    network_mode: host
    restart: always
    volumes:
      - motor-data:/data
    labels:
      io.balena.features.kernel-modules: '1'
    environment:
      - SOFT_LIMIT_LEFT=-20000
      - SOFT_LIMIT_RIGHT=20000
      - MOTOR_VMAX=40000
      - MOTOR_AMAX=300
      - MOTOR_CURRENT_RUN=16
      - MOTOR_CURRENT_HOLD=8
      - SPI_BUS=0
      - SPI_DEVICE=0
      - FLASK_PORT=5000
      - CAM_DEVICE=/dev/video0
      - CAM_WIDTH=640
      - CAM_HEIGHT=480
      - CAM_FPS=10
      - CAM_QUALITY=80
